atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
camelcase==0.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
decorator==5.1.1
idna==3.3
iniconfig==1.1.1
lxml==4.8.0
packaging==21.3
pluggy==1.0.0
progress==1.6
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
self==2020.12.3
soupsieve==2.3.2.post1
tomli==2.0.1
tqdm==4.64.0
urllib3==1.26.9
